canvas {
    border: 5px solid hotpink;
}

.stats {
    position: fixed;
    top:0px;
    right:3vw;
}
.stats p {
    font-size: 2.5vw;
}

p {
    font-size: 1.8vw;
}

button {
    font-size: 1.5vw;
}

@media  (width < 600px){
    .stats {
        position: inherit;
    }
}