canvas {
    border: 5px solid hotpink;
}

.stats {
    position: fixed;
    top:0px;
    right:1.5vw;
}
.stats p {
    font-size: 3vw;
}

p {
    font-size: 2vw;
}

@media  (width < 600px){
    .stats {
        position: inherit;
    }
}